<!DOCTYPE html>
<html>
    <head>
        <title>Form</title>
        <link rel="stylesheet" href="../static/style.css" />
    </head>
    <body>
        <form>
            <table>
                <tbody>
                    <tr>
                        <td id="left">Product Name</td>
                        <td id="right">
                            <input type="text" name="Name" />
                        </td>
                    </tr>
                    <tr>
                        <td id="left">Description</td>
                        <td id="right">
                            <textarea></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td id="left">Price</td>
                        <td id="right">
                            <input type="text" name="Price" />
                        </td>
                    </tr>
                    <tr>
                        <td id="left">Image</td>
                        <td id="right">
                            <input type="file" name="Image" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="end-buttons">
                <button type="submit">Submit</button>
                <button type="cancel">Cancel</button>
            </div>
        </form>
    </body>
</html>
