<!DOCTYPE html>
<html>
    <head>
        <title>Final Score Calculator</title>
        <link rel="stylesheet" href="../static/style.css" />
    </head>
    <body>
        <h1>Final Score Calculator</h1>
        <form action="/submit" method="POST">
            <table>
                <thead>
                    <tr>
                        <th>Marks(out of 100)</th>
                        <th>Weightages(%)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input name="mark1" /></td>
                        <td><input name="weight1" /></td>
                    </tr>
                    <tr>
                        <td><input name="mark2" /></td>
                        <td><input name="weight2" /></td>
                    </tr>
                </tbody>
            </table>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
