<!DOCTYPE html>
<html>
  <head>
    <title>Form</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <form action="/submit" method="POST">
      <table>
        <tbody>
          <tr>
            <td id="left">Name</td>
            <td id="right">
              <input type="text" name="Name" />
            </td>
          </tr>
          <tr>
            <td id="left">Email</td>
            <td id="right">
              <input type="email" name="Email" />
            </td>
          </tr>
          <tr>
            <td id="left">Password</td>
            <td id="right">
              <input type="password" name="Password" />
            </td>
          </tr>
          <tr>
            <td></td>
            <td id="right">
              <button type="submit">Submit</button>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </body>
</html>
